pipeline/pl_ingest_formula1_data.json
{
	"name": "pl_ingest_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_formula_1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Exists').output.Exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ingest_circuits_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/1.ingest_circuits_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_races_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/3.ingest_races_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_drivers_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/4.ingest_drivers",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"P_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_constructors",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/2.ingest_constructors_json",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_results_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/5.ingest_results_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_lap_times",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/7.ingest_lap_times_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_pit_stops_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/6.ingest_pit_stops_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_qualifying_times",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1/Azure Databricks & Spark for Data Engineers/ingestion/8.ingest_qualifying_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string",
				"defaultValue": "2021-03-28"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-28T16:52:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}